body{
    background-color: rgb(243, 61, 61);
    align-items: center;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: monospace;
    font-size: 3rem;
    text-decoration:underline;
    text-decoration-color:rgba(238, 236, 236, 0.473) ;
}
.square{
   
    margin:20px;
    border: 10px solid rgb(238, 236, 236);
    background: rgb(181, 77, 77);
    display:grid;
    box-shadow:  2px 1px 15px black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.smallsquare{
    background-color:rgb(227, 60, 60);
    border: 1.5px solid white;
    box-shadow: 2px 1px 15px rgb(117, 24, 24) ;
    height: 84px;
    width: 84px;
}
img{
    object-fit: cover; 
    /* border-radius: 16px; */
    width: 100%;
    height: 100%;
}
